fastapi
uvicorn[standard]
sqlalchemy>=1.4
psycopg2-binary
alembic
pydantic
celery[redis]
redis
python-dotenv
transformers
nltk
textblob
python-multipart
aiofiles
python-json-logger
pydantic-settings
torch
transformers
sentence-transformers
keybert
spacy
spacy-transformers
nltk